/* Header */
    
header {
        margin-left: 0%;
        margin-right: 0%;
}
    
.tete {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.logo {
    margin-bottom: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
    
.reserv {
    margin-top: 5%;
    margin-left: 3%;
}

nav {
    font-size: 1.1em;
    width: 100%
}

li {
        border-bottom: 3px #F2F2F2 solid;
        padding-bottom: 20px;
        width: 50%;
        text-align: center;
}

.blue_1, .blue_2 {
    display: block;
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
    margin-right: 0%;
}

.blue_1:hover {
    padding-top: 0%;
    color: black;
    border-top: none;
}

.blue_2:hover {
    padding-top: 0%;
    color: black;
    border-top: none;
}

.blue_1:active {
    color: #0065FC;
}

.blue_2:active {
    color: #0065FC;
}
    
li:active {
    color: #0065FC;
    border-color: #0065FC;
}

ul {
    justify-content: space-around;
    padding-left: 0%;
    width: 100%;
}

.recherche {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 10%;
}

.entre {
    padding-top: 5%;
    padding-bottom: 5%;
}

.inscription {
    justify-content: flex-end;
    margin-top: 5%;
    margin-right: 3%;
    width: auto;
}

.mobile_visible {
    display: inline-block;
}

.mobile_invisible {
    display: none;
}

.formulaire {
    justify-content: flex-end;
    height: 47px;
}

.fa-map-marker-alt {
    font-size: 1.1em;
    margin: 0;
    padding: 3.7%;
    padding-right: 4.5%;
    padding-left: 4.5%;
    border-radius: 40% 0px 0px 40%;
}

.champ {
    width: 90%;
    border-radius: 0% 25px 25px 0%;
}

.bouton {
    font-size: 1.1em;
    border-radius: 35%;
    position: absolute;
    height: 5%;
    padding-right: 4%;
    padding-left: 4%;
}

.filtres {
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.filts {
    margin-right: 50%;
}

.desc_filtres:hover {
    color: #DEEBFF;
    background-color: #0065FC;
}

.un_icone_money {
    padding: 7.5%;
    padding-right: 6%;
    padding-left: 6%;
    left: -2%;
    top: -2.6%;
}

.un_icone_famille {
    font-size: 1.12em;
    padding-right: 12%;
    padding-left: 12%;
    top: -2%;
}

.un_icone_heart {
    font-size: 1.12em;
    top: -2%;
}

.un_icone_animal {
    font-size: 1.16em;
    padding-right: 6%;
    padding-left: 6%;
    top: -4%;
}

.info {
    display: flex;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.icon_info {
    font-size: 0.7em;
    padding-right: 2.7%;
    padding-left: 2.7%;
    margin-top: 0%;
    margin-bottom: 4%;
}

/*Section hébergements*/

/*Marseille*/

.hebergements{
    margin: 0px;
    flex-direction: column-reverse;
    margin-top: 10px;
}

.hebergements_a_marseille {
    background-color: white;
    width: 100%;
    height: 1500px;
    border-radius: 0;
    margin-right: 0%;
    margin-left: 0%;
}

.heb_mars {
    font-size: 1.2em;
}

.principal {
    flex-direction: column;
    height: 95%;
    padding-right: 0%;
    padding-left: 0%;
}

.clic_heb {
    height: 14%;
    width: 100%;

}

.figures_hebergements {
    width: 90%;
    height:100%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 3.5%;
    font-size: 0.8em;
}

/*Aside*/

aside {
    width: 100%;
    height: 600px;
    border-radius: 0px;
    margin: 0px;
}

.tete_pop {
    font-size: 1.2em;
    padding-top: 5%;
    margin-right: 3.5%;
    margin-left: 3.5%;
}

.principal_pop {
    height: 80%;
}

.clic_pop {
    height: 30%;
    width: 100%;
}

.figures_pop {
    width: 90%;
    margin-right: 0px;
    margin-left: 3.5%;
    font-size: 0.8em;
}

/*Activités*/

.activités_marseille {
    padding-top: 5%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.act_mars {
    font-size: 1.2em;
}

.principal_act {
    height: 1200px;
    width: 100%;
    margin-top: 5%;
}

.figure_act_1 {
    width: 90%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 3.5%;
}

.figure_act_2 {
    width: 90%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 3.5%;
}

.figure_act_3 {
    width: 90%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 3.5%;
}

.desc_act {
    font-size: 0.9em;
}

.figure_act_2_2 {
    width: 90%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 3.5%;
}

.figure_act_3_2 {
    width: 90%;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 3.5%;
}

.img_act_1 {
    height: 68%;
    margin-bottom: 15px;
}

.img_act_2 {
    height: 68%;
    margin-bottom: 15px;
}

.img_act_3 {
    height: 66%;
}

.img_act_4 {
    height: 68%;
    margin-bottom: 15px;
}

.img_act_5 {
    height: 68%;
    margin-bottom: 15px;
}

.img_act_6 {
    height: 68%;
    margin-bottom: 15px;
}

.clic_act_1 {  
    height: 14%;
    width: 100%;
}

.clic_act_2 {
    height: 14%;
    width: 100%;
    
}

.clic_act_3 {
    height: 14%;
    width: 100%;
}

.clic_act_2_2 {
    height: 14%;
    width: 100%;
}
    
.clic_act_3_2 {
    height: 14%;
    width: 100%;
}

/*Footer*/

footer {
    flex-direction: column;
    font-size: 1em;
    padding-top: 6%;
}

.fin {
    height: 120px;
    width: 90%;
    margin-left: 7%;
    margin-top: 5%;
}

.a_propos {
    margin-bottom: 5%;
}

.desc_foot {
    width: 100%;
}